<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee          https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>Car Rental Management</display-name>
    <description>Ứng dụng thuê xe theo mô hình MVC</description>
    <servlet>
        <servlet-name>ForgetPassServlet</servlet-name>
        <servlet-class>com.example.carrental.controller.ForgetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.example.carrental.controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserPassServlet</servlet-name>
        <servlet-class>com.example.carrental.controller.ResetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.example.carrental.controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>com.example.carrental.controller.SearchCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPassServlet</servlet-name>
        <url-pattern>/forget_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/verify_code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserPassServlet</servlet-name>
        <url-pattern>/reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/searchcar</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
